$items: 8;

.slideshow-module {

    .module-content {
        position: relative;
        width: 100%;
        padding-bottom: 1.5rem;
        overflow-x: hidden;
        margin-bottom: .875rem;
        
        .gallery {
            width: 80%;
            margin: 0 auto;
    
            .gallery__container {
                width: $items * 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                gap: 0.375rem;
                transition: transform 0.3s cubic-bezier(.51, .92, .24, 1);
            
                .gallery__container--item {

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
            
            @for $i from 0 to $items {
                &[data-pos="#{ $i }"] .gallery__container {
                    transform: translateX(calc(-100% / 8 * $i));
                }
            }
        
            .gallery__paddlenav {
    
                .paddlenav-arrow {
                    position: absolute;
                    top: 0;
                    bottom: 1.5rem;
                    width: 10%;
                    cursor: pointer;
                    background: rgba(255, 255, 255, 0.6);
                    width: calc(10% - .375rem / 4);
                    
                    &.paddlenav-arrow-previous {
                        left: 0;
                    }
                    
                    &.paddlenav-arrow-next {
                        right: 0;
                    }
                }
            }
    
            .gallery__dots {
                position: absolute;
                bottom: 0;
                display: flex;
                left: 50%;
                transform: translateX(-50%);

                .dot {
                    width: 8px;
                    height: 8px;
                    margin: 0 .5rem;
                    border-radius: 50%;
                    cursor: pointer;
                    background: #c2c2c2;
                }

                .dot:hover {
                    background: #d6d6d6;
                }

                .indicator {
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    margin: 0 .5rem;
                    cursor: pointer;
                    position: absolute;
                    left: 0;
                    background: #707070;
                    transition: left .3s cubic-bezier(.51, .92, .24, 1);
                }
            }

            @for $i from 0 to 8 {

                $left: 1.5 * $i;
                &[data-pos="#{ $i }"] .indicator {
                    left: #{ $left }rem;
                }
            }

            .gallery__controls {
                
                .play-pause {
                    position: absolute;
                    right: 20px;
                    bottom: 0;
                    cursor: pointer;
                    font-size: 1.25rem;
                }
            }
        }
    }
}