.welcome-container {
    background: #a42123;
    
    padding: 2rem 3rem;
}

.welcome-msg {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

.welcome-card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(250px, 1fr);
    gap: 1.25rem;
    justify-content: space-between;
    margin: 2.5rem 0;

    .welcome-card {
        position: relative;
        border-radius: 10px;
        padding: 1rem 2rem;
        background: #e8f1e6;
        position: relative;
        box-shadow: 0 2px 7px 2px rgb(0 0 0 / 12%);

        &:before {
            content: "";
            background: url('../../../public/assets/images/utils/Green_Vertical_Bar.png');
            background-repeat: repeat-y;
            background-size: 8px auto;
            width: 8px;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            border-radius: 20px 0 0 20px;
        }

        .welcome-card-heading {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            position: relative;
            padding-bottom: 1rem;

            .welcome-card-title {
                font-size: 1.12rem;
                text-transform: uppercase;
                font-style: italic;
                font-weight: 800;
                color: #333;
                display: inline-block;
            }

            .recently-viewed-btn {
                font-size: 1rem;

                &:after {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 1px;
                    background: #a6a6a6;
                    opacity: 0;
                    transition: all .3s ease;
                }

                &:hover {

                    &:after {
                        opacity: 1;
                    }
                }
            }

            &:after {
                content: "";
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 1px;
                background: #a6a6a6;
            }
        }


        .welcome-card-copy {
            font-size: 1.2rem;
            font-weight: 300;
            color: #333;
            margin: 1rem 0;

            .text {
                font-size: 1.5rem;
            }

            .price {
                font-size: 1.75rem;
                font-weight: 600;
                color: #333;
            }

            .count {
                font-size: 1.5rem;
                font-weight: 600;
                color: #333;
            }

            img {
                height: 160px;
            }

            .name {
                font-size: 1.5rem;
            }

            .welcome-card-goods {
                position: relative;

                .goods-details {
                    position: absolute;
                    top: -2rem;
                    right: 0;
                    width: 160%;
                    height: 200%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    border-radius: 5px;
                    box-shadow: 0 2px 7px 2px rgb(0 0 0 / 12%);
                    padding: 1rem;
                    transform: translateX(4rem) scale(0.6);
                    opacity: 0;
                    transition: all .3s ease;
                    z-index: -1;
                    cursor: pointer;

                    .goods-img {
                        transform: scale(1.2);
                    }

                    .goods-info {
                        margin-top: 1rem;
                        color: #333;

                        .goods-name {
                            font-size: 1.25rem;
                            font-weight: 600;
                            text-transform: capitalize;
    
                            &:hover {
                                text-decoration: underline;
                            }
                        }
    
                        .goods-price {
                            margin-top: 1rem;
                            font-size: 1.5rem;
                            font-weight: 600;
                            text-transform: capitalize;
                        }
                    }
                }

                &:hover {
                    .goods-details {
                        transform: translateX(0) scale(1);
                        opacity: 1;
                        background: #e8f1e6;
                        z-index: 1;
                    }
                }
            }

            .account-btn {
                font-size: 16px;
                font-weight: 700;
                background: #cc4100;
                color: #fff;
                padding: .75rem 1.5rem;
                border-radius: 50px;
                text-transform: uppercase;
                transform: scale(1);
                transition: transform .2s cubic-bezier(.34,.53,.61,.74), transform .1s cubic-bezier(.54,.35,.74,.54);
                
                &:hover {
                    transform: scale(1.1);
                }
            }

            &.flex-mode {
                gap: 1.5rem;
                align-items: center;
                justify-content: space-around;

                .price {
                    font-size: 1.25rem;
                }
            }

        }

        &[data-type-card="account"] {
            .welcome-card-copy {
                text-align: center;
                margin-top: 3rem;

                .text {
                    margin-top: 1rem;
                    font-size: 1.2rem;

                    span {
                        font-weight: 500;
                        text-transform: uppercase;
                        color: #0070d8;
                        cursor: pointer;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }

        .welcome-card-btn {
            position: absolute;
            bottom: .5rem;
            font-size: 1.25rem;
            font-weight: 500;
            color: #444;
            text-transform: capitalize;

            &:after {
                content: "";
                display: block;
                width: 100%;
                height: 1px;
                background: #a6a6a6;
                margin: .25rem auto;
                transform: scale(0);
                transition: all .3s ease;
            }

            &:hover {

                &:after {
                    transform: scale(1);
                }
            }
        }
    }
}