.promo-swiper {
    position: relative;

    .button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 5px;
        padding: .75rem .5rem;
        background: #fff;
        cursor: pointer;
        z-index: 1;
        font-size: 1.25rem;
        box-shadow: 0 2px 7px 2px rgb(0 0 0 / 12%);

        &:hover {
            background: #ccc;
        }

        &.swiper-button-prev {
            left: 5%;
        }

        &.swiper-button-next {
            right: 5%;
        }
    }

    .swiper-container {
        overflow: hidden;

        .swiper-wrapper {
            display: flex;
            align-items: center;
            transition: all .3s ease;
            
            .swiper-slide {
                display: flex;
                align-items: center;
                justify-content: center;
                background-size: cover;
                background-position: center;
                height: 100%;
                width: 100%;

                .promo-container {
                    position: relative;

                    .promo-background {
                        display: flex;
                        justify-content: center;
                        overflow: hidden;

                        img {
                            margin: 0;
                            width: 110%;
                            object-fit: contain;
                        }
                    }

                    .promo-info {
                        position: absolute;
                        color: #333;
                        z-index: 1;

                        &[data-pos="top-center"] {
                            text-align: center;
                            top: 2rem;
                            left: 50%;
                            transform: translateX(-50%);
                        }

                        .info-title {
                            h1 {
                                font-size: 2.25rem;
                                font-weight: 600;
                                margin-bottom: .75rem;
                                line-height: 2.875rem;
                            }
                        }

                        .info-subtitle {

                            h3 {
                                font-size: 1.1rem;
                                font-weight: 400;
                            }
                        }

                        .info-cta {
                            margin-top: 2.5rem;

                            .cta-button {
                                font-size: 12px;
                                font-weight: 600;
                                text-transform: uppercase;
                                border-radius: 50px;
                                padding: .75rem 3.5rem;
                                transition: all .3s ease;
                            }
                        }
                    }
                }
            }
        }
    }
}