

.breadcrumb-container {
    padding: 1rem 0;
    color: #111;
    
    .breadcrumb-wrap {
        margin: 0 11.5rem;
        display: flex;
        align-items: center;
        gap: .35rem;
        color: #0070d1;
        font-size: .875rem;

        .breadcrumb-item {
            display: flex;
            align-items: center;
            text-transform: capitalize;
            
            a {
                color: #0070d1;
            }
            
            &.current-page {

                &:hover {
                    cursor: default;
                    text-decoration: none;
                }
            }

            &:hover {
                text-decoration: underline;
            }
        }

        .category-hero-breadcrumb-separator {
            padding-top: .1rem;
            margin-right: .25rem;
        }
    }
}