.error-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 5rem;

    .warning-text {
        text-align: center;
        h3 {
            font-size: 2rem;
            margin-bottom: .5rem;
        }     
    }

    .return-to-home {
        padding: .75rem 1rem;
        border-radius: 10px;
        background: #0071dc;
        cursor: pointer;
        
        &:hover {
            background: #0059b3;
        }

        .btn {
            color: #fff;
            font-size: 18px;
        }


    }
}