li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
}

input {
    border: none;
    outline: none;
}